html, body, #slider, .slide, .slide-medium {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

#slider {
  position: relative;
  overflow: hidden;
}
#slider .slide8 {
  z-index: 0;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
#slider .slide8 .slide-deep {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
#slider .slide7 {
  z-index: 1;
  -webkit-transform: translateX(-12.5%);
  -moz-transform: translateX(-12.5%);
  -ms-transform: translateX(-12.5%);
  -o-transform: translateX(-12.5%);
  transform: translateX(-12.5%);
}
#slider .slide7 .slide-deep {
  -webkit-transform: translateX(12.5%);
  -moz-transform: translateX(12.5%);
  -ms-transform: translateX(12.5%);
  -o-transform: translateX(12.5%);
  transform: translateX(12.5%);
}
#slider .slide6 {
  z-index: 2;
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
  transform: translateX(-25%);
}
#slider .slide6 .slide-deep {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
  transform: translateX(25%);
}
#slider .slide5 {
  z-index: 3;
  -webkit-transform: translateX(-37.5%);
  -moz-transform: translateX(-37.5%);
  -ms-transform: translateX(-37.5%);
  -o-transform: translateX(-37.5%);
  transform: translateX(-37.5%);
}
#slider .slide5 .slide-deep {
  -webkit-transform: translateX(37.5%);
  -moz-transform: translateX(37.5%);
  -ms-transform: translateX(37.5%);
  -o-transform: translateX(37.5%);
  transform: translateX(37.5%);
}
#slider .slide4 {
  z-index: 4;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#slider .slide4 .slide-deep {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
#slider .slide3 {
  z-index: 5;
  -webkit-transform: translateX(-62.5%);
  -moz-transform: translateX(-62.5%);
  -ms-transform: translateX(-62.5%);
  -o-transform: translateX(-62.5%);
  transform: translateX(-62.5%);
}
#slider .slide3 .slide-deep {
  -webkit-transform: translateX(62.5%);
  -moz-transform: translateX(62.5%);
  -ms-transform: translateX(62.5%);
  -o-transform: translateX(62.5%);
  transform: translateX(62.5%);
}
#slider .slide2 {
  z-index: 6;
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(-75%);
}
#slider .slide2 .slide-deep {
  -webkit-transform: translateX(75%);
  -moz-transform: translateX(75%);
  -ms-transform: translateX(75%);
  -o-transform: translateX(75%);
  transform: translateX(75%);
}
#slider .slide1 {
  z-index: 7;
  -webkit-transform: translateX(-87.5%);
  -moz-transform: translateX(-87.5%);
  -ms-transform: translateX(-87.5%);
  -o-transform: translateX(-87.5%);
  transform: translateX(-87.5%);
}
#slider .slide1 .slide-deep {
  -webkit-transform: translateX(87.5%);
  -moz-transform: translateX(87.5%);
  -ms-transform: translateX(87.5%);
  -o-transform: translateX(87.5%);
  transform: translateX(87.5%);
}

.slide {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.slide-medium {
  position: relative;
}

.slide-deep {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.slide-deep img {
  width: 100%;
}
